@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Stolzl';
    src: local('Stolzl'), url(./fonts/stolzl_regular.otf) format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
svg{
    display: flex;
    align-items: center;
}